.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  align-self: center;
  /* border-bottom: 6px dotted var(--color-grey-50); */
  margin: 0px;
}

.header h2 {
  margin: 20px 0px 0px 0px;
}

.content {
  height: 90%;
  width: 100%;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.landingTextBox {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 60px 0px;
}

.landingTextBox h2 {
  margin: 0px;
}

.paragraphTextBox {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 60px 0px;
  width: 75%;
  font-size: var(--size-5);
}

.paragraphTextBox h2 {
  margin: 0px;
}

.allTextBox {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  /* border-right: 3px dotted var(--color-grey-200); */
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  margin: 40px 0px 50px 0px;
}

.icon {
  font-size: 16px;
  height: 16px;
  color: var(--color-grey-50)
}

.hobbiesBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10vh 0px 15vh 0px;
  text-align: center;
  align-items: center;
}

.hobbiesBox h4 {
  margin: 10px 0px 0px 0px;
  height: 10%;
}

.hobbies {
  display: grid;
  width: 75%;
  height: 90%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  .hobbies {
    width: 100%;
    height: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: auto;
    row-gap: 20px;
  }

  .hobbiesBox {
    height: 120vh;
    padding: 15vh 0px 30vh 0px;
  }

  .paragraphTextBox {
    width: 100%;
    font-size: var(--size-4);
  }

}

@media (min-width: 768px) and (max-width: 1180px) {
  .hobbies {
    width: 100%;
    height: 100%;
    row-gap: 20px;
  }

  .hobbiesBox {
    height: 120vh;
    padding: 15vh 0px 30vh 0px;
  }
}