.listview {
  width: 100%;
  height: 100%;
}

.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 4px dashed var(--color-primary-600); */
  /* box-shadow: 1px 1px 10px var(--color-primary-400); */
  /* border-radius: 10px; */
  z-index: 0;
  padding: 15px 5px 15px 5px;
  overflow: auto;
}

.rectangle hr {
  width: 40%;
  margin: 40px 0px 40px 0px
}

.text {
  padding: 0px 5% 0px 5%;
  text-align: left;
}

.text h5 {
  margin: 0px 0px 0px 0px;
}

.text i {
  font-size: var(--size-3);
  color: var(--color-grey-200);
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}